{% load staticfiles %}

<head>
<title>添加新书</title>

</head>

 
<body>
<div id="a">
<form method="post">
<table>
{% if havenoword %}
    <font color="red">作者编号或姓名不能为空bbbbbbbb</font>
{% endif %}
 <tr> 
  <td>作者编号</td>
  <td><input name="AuthorID" type="text"></td>
 </tr>
 <tr>
  <td>作者姓名</td>
  <td><input name="Name" type="text"></td>
 </tr>
  <tr> 
  <td>作者年龄</td>
  <td><input name="Age" type="text"></td>
 </tr>
 <tr>
  <td>国籍</td>
  <td><input name="Countury" type="text"></td>
 </tr>
 <tr>
  <td colspan=2 align="center"><input type="submit" value="确认"> <input type="reset" value="重置"></td>
 </tr>
</table>
</form>
</div>
<div id="b">
<a href="/">返回到主页</a>
</div>
</body>